<nav class="navbar navbar-expand-md navbar-light bg-secondary fixed-top">
  <a class="navbar-brand text-white" href="#">Money-boy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav text-white">
        {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name }},&nbsp;&nbsp;
            <a href="{% url "account:logout" %}">Logout</a>
        {% endif %}
    </div>
  </div>
</nav>