{% load static %}

{% block custom_static %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock custom_static %}

<div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
    <a 
      href="#"
      class="
        navbar-brand
        text-white
        d-block
        mx-auto
        text-center
        py-3
        mb-4
        bottom-border"
    >Money-Boy
    </a>
    <div class="bottom-border pb-3">
        <img 
          src="{% static 'img/admin.jpeg' %}"
          width="50"
          class="rounded-circle mr-3"
        >
        <a href="#" class="text-white">Self Note</a>
    </div>
    <ul class="navbar-nav flex-column mt-4">
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 current">
                <i class="fas fa-home text-light fa-lg mr-3"></i>Dashboard
            </a>
        </li>
        <!-- https://docs.djangoproject.com/en/3.0/ref/contrib/admin/#reversing-admin-urls -->
        <li class="nav-item">
            <a href="{% url 'admin:auth_user_changelist'%}" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-user text-light fa-lg mr-3"></i>Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-envelope text-light fa-lg mr-3"></i>Inbox
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-shopping-cart text-light fa-lg mr-3"></i>Sales
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-chart-line text-light fa-lg mr-3"></i>Analytics
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-chart-bar text-light fa-lg mr-3"></i>Chart
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-table text-light fa-lg mr-3"></i>Tables
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-wrench text-light fa-lg mr-3"></i>Settings
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white p-3 mb-2 sidebar-link">
                <i class="fas fa-file-alt text-light fa-lg mr-3"></i>Documentation
            </a>
        </li>
    </ul>
</div>