{% extends "account_base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="login-container-base">
      <div class="row d-flex align-items-center login-container">
        <div class="col-md-5 text-center login-title">
          <h1>Money-boy</h1>
        </div>
        <div class="col-md-7 text-center login-form">
          <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <div>
              <input type="submit" value="Log in" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
  </div>
{% endblock %}
